<%- include('layouts/header')%>
 <!-- Content Wrapper -->
 <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

 
  <body id="page-top">

            <!-- Page Wrapper -->
            <div id="wrapper">
<%- include('layouts/sidebar')%>


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
               
                   

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                 <h4 class="m-0 font-weight-bold text-primary">Blogs</h4> <br>
                            <a  class="m-0 font-weight-bold text-primary" href="/blogAdd">Add Content</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Serial No</th>
                                            <th>Title</th>
                                            <th>Publishing Date</th>
                                            <th>Writer</th>
                                            <th>Content Image</th>
                                            <th>Content</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% isblogContent.map((data,index) =>{ %>
                                            <tr>
                                             
                                              <td><%=index+1%></td>
                                              <td><%=data.title%></td>
                                              <td><%=data.publishingDate%></td>
                                              <td><%=data.writer%></td>
                                              <td><img src="/uploads/<%= data.image%>" alt="" width="80px" height="90px"></td>
                                              <td><%=data.content%></td>
                                              <td><a href="">Edit</a></td>
                                              <td><a href="/deleteBlog/<%=data._id%>">Delete</a></td>
                                              </tr>
                                            <%})%>
                                    </tbody>
                                    
                                  
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


<%- include('layouts/siteFooter')%>
<%- include('layouts/footer')%>


           